<% provide(:contact, "active") %>
<% provide(:title, "Contact") %>



 <div class="jumbotron">
      <div class="container">
        <h2>Contact Us</h2>
        <p>You can contact us at efndfjknjdkf@sdjsnf.com <p>
        <!-- 
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        
      </div>
    </div>> <!-- /container -->
