<% provide(:home, "active") %>
<% provide(:title, "Home") %>


 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Appointments Application</h1>
        <p>This is a web application to be used by anyone to keep track of their appointents. </p>
        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Things to Know</h2>
          <p>We will do all what we can to hep you out </p>
          <p><a class="btn btn-default" href="http://localhost:3000/appointments" role="button">View Appointments &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Freebies</h2>
          <p>We will post some frebies so you can add a new appointment to come and pick it up </p>
       </div>
        <div class="col-md-4">
          <h2>Ask for anything</h2>
          <p>Some tiems you can ask people for things and see how could sell it or give it to you for free </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->